player-connection-mode=Listen
player-connection-guid=3818648786
player-connection-debug=0
player-connection-project-name=EcoHome-VR
player-connection-ip=192.168.107.1
player-connection-ip=172.25.112.1
player-connection-ip=192.168.178.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=UnityOpenXR
