player-connection-mode=Listen
player-connection-guid=156716219
player-connection-debug=0
player-connection-project-name=EcoHome-VR
player-connection-ip=192.168.107.1
player-connection-ip=172.28.192.1
player-connection-ip=192.168.178.37
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=UnityOpenXR
